/* Text Styles */
hr { color: #000000}
body, table /* Normal */
{
 font-size: 10pt;
 font-family: 'Arial';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_Arial12 /* Arial 12 */
{
 font-size: 12pt;
}
span.f_ArialBold10 /* Arial Bold 10 */
{
 font-weight: bold;
}
span.f_ArialBold12Blue /* Arial Bold 12 Blue */
{
 font-size: 12pt;
 font-weight: bold;
 color: #2d2dff;
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
 color: #000000;
}
span.f_Comment /* Comment */
{
}
span.f_CourierFixed /* Courier Fixed */
{
 font-size: 9pt;
 font-family: 'Courier New';
 color: #000000;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 14pt;
 font-weight: bold;
 color: #ffffff;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_Normal2 /* Normal2 */
{
 font-size: 12pt;
 font-family: 'Times New Roman';
}
span.f_Notes /* Notes */
{
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_Arial12 /* Arial 12 */
{
}
.p_ArialBold10 /* Arial Bold 10 */
{
}
.p_ArialBold12Blue /* Arial Bold 12 Blue */
{
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 background: #efefef;
}
.p_Comment /* Comment */
{
}
.p_Heading1 /* Heading1 */
{
}
.p_ImageCaption /* Image Caption */
{
}
.p_Normal2 /* Normal2 */
{
}
.p_Notes /* Notes */
{
}
